@using MvcSample.Web.Models;
@model Blog
@{
	Layout = "/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Blog";
}

<div class="row" style="padding-top: 50px;">
	<h3 title="@Model.Title">@Model.Title</h3>
	@Model.Body	
</div>